.about__description {
    margin-top: 30px;
    width: 1048px;
    font-size: 45px;
    line-height: 61px;
  }
  
  .about {
    margin-bottom: 149px;
  }

  @media (max-width: 1199px) {
    .about {
      margin-bottom: 120px;
    }
    .about__description {
      margin: 30px 0 30px 0;
      width: 693px;
      font-size: 35px;
      line-height: 48px;
    }
  }

  @media (max-width: 767px) {
    .about {
      margin-bottom: 80px;
    }
    .about__description {
      margin: 20px 0 30px 0;
      width: 100%;
      font-size: 22px;
      line-height: 30px;
    }
  }