.begin__image {
    position: relative;
    margin-top: 28px;
    height: 500px;
    min-width: 1150px;
    background-image: url(../resourses/armchair.png);
  }
  
  .begin__description {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    color: #ffffff;
  }

  .begin {
    margin-bottom: 150px;
  }

  .begin__inner {
    width: 100%;
  }