.gallery {
  
    position: relative;
    min-width: 1150px;
    height: 717px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0.52%,
        rgba(0, 0, 0, 0.4) 82.81%
      ),
      url(../resourses/bedroom.png);
    background-position: 50%;
    background-size: cover;
  }
   .gallery__description {
    position: absolute;
    bottom: 60px;
    width: 443px;
    left: 125px;
    
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    color: #FFFFFF;
   }

  .gallery__text { 
  
  }
  
