
.nav {
  float: right;
}
  
  .nav__link { 
    display: inline-block;
    margin-left: 58px;
    font-size: 18px;
    line-height: 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
    text-transform: uppercase;
  }

  .nav__link:first-child {
    margin-left: 0;
  }
  
  .nav__link a {
    text-decoration: none;
    color: #121212;
  }
  
  .nav__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }