

.project__description {
  padding: 13px 0 15px 0;
}

.projects {
 margin-bottom: 150px;
}

.projects__list {
  padding-bottom: 90px;
}

 .project {
  padding-top: 90px;
}

.project:first-child {
  padding-top: 29px;
}

.project__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

