

.project__description {
  padding: 13px 0 15px 0;
}

.projects {
 margin-bottom: 150px;
}

.projects__list {
  padding-top: 29px;
}

 .project {
  padding-bottom: 90px;
}



.project__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .project__image {
    width: 100%;
  }
 .project {
  padding-bottom: 80px;
 }
 .project:last-child {
  padding-bottom: 100px;
 }
}

@media (max-width: 767px) {
  .project__description {
    padding: 20px 0 11px 0;
  }
  .project__image {
  }

  .project__link {
    padding-top: 11px;
    font-size: 16px;
    line-height: 22px;
  }
  .project {
    padding-bottom: 49px;
  }
  .project:last-child {
    padding-bottom: 60px;
  }
}