

.rewiews__name {
    margin-bottom: 14px;
    font-size: 45px;
    line-height: 61px;
}

.feedback {
    font-size: 22px;
    line-height: 30px;

}

.rewiews__item:last-child:nth-child(2n + 1) {
    width: 861px;
}


.rewiews__list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 80px;
}

.rewiews__item {
    width: calc(50% - 25px);
}

@media (max-width: 1199px) {
    .rewiews__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 80px;
        column-gap: 0;
    }

    .rewiews__item {
        width: calc(50% - 5px);
    }
    .rewiews__name {
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 47px;
    }
    
    .feedback {
        font-size: 20px;
        line-height: 27px;
    
    }
    
   .rewiews__item:last-child:nth-child(2n + 1) {
        width: 694px;
    }
}

@media (max-width: 767px) {
    .rewiews__item  {
        width: 100%;
    }

    .rewiews__list {
        row-gap: 80px;
    }
    .rewiews__name {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34px;
    }
    
    .feedback {
        font-size: 16px;
        line-height: 21px;
    }
    
    
}