
.services  {
  min-width: 1150px;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #121212;
    }
    
    .service {
      padding-top: 58px;
    }
.service:first-child {
  padding-top: 35px;
}
    .service__image {
    margin-bottom: 15px;
    }

   .services__inner {
    width: 100%;
   }
   
   .service__title, .service__description {
    padding-left: 4px;
    color: #ffffff;
   }

 