
.services  {
  min-width: 1150px;
  padding-top: 151px;
  background-color: #121212;
  }
    
.service {
  padding-top: 60px;
  }
.service:first-child {
  padding-top: 35px;
  }
.service__image {
  padding-bottom: 13px;
  }

.services__list {
  min-width: 1150px;
  padding-bottom: 148px;
  }
   
.service__title, .service__description {
  color: #ffffff;
  }

 