@import "../styles/navigation.css";
@import "../styles/begin.css";
@import "../styles/about.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/gallery.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";


body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
}

header {
  width: 1400px;
  margin: auto;
  padding: 33px 125px 0 125px;
  }

h1, h2, h3, a, p, div {
  letter-spacing: -0.03em;
}

h1 {
  width: 956px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

h3 {
font-size: 30px;
font-weight: 400;
line-height: 41px;
}

section {
margin: auto;
padding-top: 150px; 
}

section:first-child {
  margin-top: 0;
  padding-top: 70px;
}

h1, h2, h3 {
color: #121212;
}

.container {
  margin: 0 auto;
  width: 1150px;
}




.container__black {
  padding-top: 80px;
  background-color: #121212;
}

.container__black h1,  
.container__black h2,
.container__black h3 {
  color: #ffffff;
}

.section__long {
  padding-bottom: 150px;
}

.section__full {
  width: 100%;
}

.section__nopadd {
padding: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}


.about_btn {
  display: inline-block;
  width: 256px;
  height: 68px;
  margin-top: 30px;
  padding: 20px 40px;
  background-color: #ad1818;
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #ad1818;
  letter-spacing: -0.034em;
}

.about_btn:hover {
  background-color: #ffffff;
  color: #ad1818;
}

.project__btn {
  margin-top: 90px;
  display: block;
  width: 100%;
  height: 152px;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ad1818;
  font-size: 30px;
  cursor: pointer;
}

.project__btn:hover {
  background-color: #ad1818;
  color: #fff;
}










