  



  
  h3 {
  font-size: 30px;
  line-height: 41px;

  }
  
  

@media (max-width: 1199px) {
 
  h3 {
    font-size: 25px;
    line-height: 34px;
    }
}
 @media (max-width: 767px) {
 
  .title {
    font-size: 14px;
    line-height: 19px;
  }
  h3 {
    font-size: 18px;
    line-height: 25px;
    }
 }