  
  h2 {
    font-size: 18px;
    line-height: 25px;
  }
  
  h3 {
  font-size: 30px;
  line-height: 41px;
  }
  
  .begin__title {
    width: 956px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
  .about__title {
    
  } .project__title {
    color: #121212;
  }
  

